<%- include('header') %> 
<meta http-equiv="refresh" content="20">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('navbar') %> 
    <% if (render=="home"){ %>
        <h2 class="mt-3" style="font-family: 'Maven Pro', sans-serif; color: aliceblue;">Home</h2> 
    <% } else if (render == "allow") {%>
        <h2 class="mt-3" style="font-family: 'Maven Pro', sans-serif; color: aliceblue;">Allowed</h2> 
    <% }else if (render == "deny"){ %> 
        <h2 class="mt-3" style="font-family: 'Maven Pro', sans-serif; color: aliceblue;">Denied</h2> 
    <% }else {%> 
        <h2 class="mt-3">Error 404 Not Found</h2>
    <% } %> 
    <% if(items.length==0){%>
        <%- include('empty') %> 
    <%}else{ %>
    <section style="padding: 20px;">
        <div class="row">
            <% items.slice().reverse().forEach(item => { %>
                <div class="col-lg-4 col-md-6 mb-4" >
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title"><%= item.name %></h4>
                            <h5 class="text-warning"><%= item.requisition %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.employeeNumber %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.email %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.phone %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.date %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.time %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.noOfPerson %> Person(s)</h6>
                            <h6 class="card-subtitle mb-2 text-muted">From: <%= item.pickupPlace %></h6>
                            <h6 class="card-subtitle mb-2 text-muted">To: <%= item.dropPlace %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= item.file %></h6>

                            <form action="/move" method="post" class="mt-3">
                                <input type="hidden" name="from" value="<%= render %>">
                                <input type="hidden" name="id" value="<%= item._id %>">
                                <!-- <input type="hidden" name="id" value="<%= item.employeeNumber %>"> -->
                            <% if(render=="home"){ %>
                                    <button type="submit" class="btn btn-success mx-3" name="to" value="allow">Allow</button>
                                    <button type="submit" class="btn btn-danger mx-3" name="to" value="deny">Deny</button>    
                            <% }else{ %>                                
                                <% if(render=="deny"){ %>
                                    <button type="submit" class="btn btn-success mx-3" name="to" value="allow">Allow</button>
                                <% }else{ %> 
                                    <button type="submit" class="btn btn-danger mx-3" name="to" value="deny">Deny</button>
                                <% } %> 
                                    <button type="submit" class="btn btn-danger mx-3" name="to" value="delete">Delete</button>
                            <% } %> 
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %> 
        </div>
    </section>
    <% } %>

<%- include('footer') %> 